<div class="navbar navbar-expand-sm navbar-light navbar-SN">
  <%= link_to "/", class: "navbar-brand" do %>
    <div class="logo">S&N</div>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% case request.fullpath %>
        <% when '/agenda' %>
          <li class="nav-item active">
            <%= link_to "Les festivités", agenda_path, class: "nav-link" %>
          </li>
          <% unless mobile_device? %>
            <li>|</li>
          <% end %>
          <li class="nav-item">
              <%= link_to "A faire à Biarritz", activities_path, class: "nav-link" %>    
          </li>
          <% unless mobile_device? %>
            <li>|</li>
          <% end %>
          <li class="nav-item">
            <%= link_to "Infos pratiques", places_path, class: "nav-link" %>
          </li>
          <% unless mobile_device? %>
            <li>|</li>
          <% end %>
          <li class="nav-item">
            <%= link_to "Liste de mariage", "https://www.millemercismariage.com/servaneetnicolas/liste.html", target: "_blank", class: "nav-link" %>
          </li>
        <% when '/activities' %>
          <li class="nav-item">
            <%= link_to "Les festivités", agenda_path, class: "nav-link" %>
          </li>
          <% unless mobile_device? %>
            <li>|</li>
          <% end %>
          <li class="nav-item active">
              <%= link_to "A faire à Biarritz", activities_path, class: "nav-link" %>    
          </li>
          <% unless mobile_device? %>
            <li>|</li>
          <% end %>
          <li class="nav-item">
            <%= link_to "Infos pratiques", places_path, class: "nav-link" %>
          </li>
          <% unless mobile_device? %>
            <li>|</li>
          <% end %>
          <li class="nav-item">
            <%= link_to "Liste de mariage", "https://www.millemercismariage.com/servaneetnicolas/liste.html", target: "_blank", class: "nav-link" %>
          </li>
        <% when '/places' %>
          <li class="nav-item">
            <%= link_to "Les festivités", agenda_path, class: "nav-link" %>
          </li>
          <% unless mobile_device? %>
            <li>|</li>
          <% end %>
          <li class="nav-item">
              <%= link_to "A faire à Biarritz", activities_path, class: "nav-link" %>    
          </li>
          <% unless mobile_device? %>
            <li>|</li>
          <% end %>
          <li class="nav-item active">
            <%= link_to "Infos pratiques", places_path, class: "nav-link" %>
          </li>
          <% unless mobile_device? %>
            <li>|</li>
          <% end %>
          <li class="nav-item">
            <%= link_to "Liste de mariage", "https://www.millemercismariage.com/servaneetnicolas/liste.html", target: "_blank", class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Les festivités", agenda_path, class: "nav-link" %>
          </li>
          <% unless mobile_device? %>
            <li>|</li>
          <% end %>
          <li class="nav-item">
              <%= link_to "A faire à Biarritz", activities_path, class: "nav-link" %>    
          </li>
          <% unless mobile_device? %>
            <li>|</li>
          <% end %>
          <li class="nav-item">
            <%= link_to "Infos pratiques", places_path, class: "nav-link" %>
          </li>
          <% unless mobile_device? %>
            <li>|</li>
          <% end %>
          <li class="nav-item">
            <%= link_to "Liste de mariage", "https://www.millemercismariage.com/servaneetnicolas/liste.html", target: "_blank", class: "nav-link" %>
          </li>
      <% end %>
    </ul>
  </div>
</div>
